/* start global rules */
*{
    box-sizing: border-box;
}
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding:100px;
    --main-background-color: #ececec;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
html{
    scroll-behavior: smooth;
    
}
a{
    text-decoration: none;
}
body{
    font-family: 'Cairo', sans-serif;
}
ul{
    list-style: none;
    margin: none;
    padding: none;
}
/* small*/
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/* large */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
.main-title::before{
    content: "";
    width: 15px;
    height: 15px;
    background-color:var(--main-color);
    position: absolute;
    border-radius: 50%;
    left: -30%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: -1;
}
.main-title{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: 2px solid;
    padding: 10px 15px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-bottom: 80px;
    font-size: 25px;
    font-weight:bold;
}
.main-title:hover{
    transition-delay:0.5s ;
    border: 2px solid white;
    color: white;
}
.main-title:hover::before{
    animation:left-animation linear 0.5s forwards;
    -webkit-animation:left-animation linear 0.5s forwards;
}
.main-title:hover::after{
    animation:right-animation linear 0.5s forwards;
    -webkit-animation:right-animation linear 0.5s forwards;
}
.main-title::after{
    content: "";
    width: 15px;
    height: 15px;
    background-color:var(--main-color);
    position: absolute;
    border-radius: 50%;
    right: -30%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: -1;
}
.spike{
    position: relative;
}
.spike::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(130deg, white 25%, transparent 25%), linear-gradient(233deg, white 25%, transparent 25%);
    width: 100%;
    height: 30px;
    right: 0;
    z-index: 1;
    background-size: 30px 30px;
}
.dots{
    position: absolute;
    background-image: url(../image/dot.png);
    width: 204px;
    height: 186px;
    background-repeat: no-repeat;
}
.dots-up {
    top: 200px;
    right:0;
}
.dots-dawon {
    bottom: 200px;
    left:0;
}
/* end global rules */
/* start header */
header{
    background-color:white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

header .container .part-1{
    font-size: 28px;
    color: var(--main-color);
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 70px;
    position: relative;
}
@media (max-width:767px) {
    header .container .part-1{
    width: 100%;
    padding: 0;
    height: 50px;
    margin-bottom: -10px;
    }
}
@media (max-width:767px) {
    header .container .part-2{
        margin: auto;
    }
}
header .container .part-2{
    display: flex;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}
header .container .part-2 > li:hover .mega-menu{
    opacity: 1;
    z-index: 50;
    top: calc(100% + 1px);
}
header .container .part-2 > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    position: relative;
    padding: 0 20px;
    overflow: hidden;
    height: 70px;
    font-size: 19px;
}
@media (max-width:767px) {
    header .container .part-2 li a{
        padding: 10px;
    }
}
header .container .part-2 > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
header .container .part-2 > li > a::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 3px;
    bottom: 0;
    left: -100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
header .container .part-2 > li > a:hover::before{
    left: 0;
}
/* end header */
/* start landing */
.landing{
position: relative;

}
.custom-shape-divider-top-1649206442 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1649206442 svg {
    position: relative;
    display: block;
    width: calc(184% + 1.3px);
    height: 151px;
}

.custom-shape-divider-top-1649206442 .shape-fill {
    fill: #FFFFFF;
}
.landing::before{
    content: "";
    position: absolute;
    left: 0px;
    top: -19px;
    width: 100%;
    height: 100%;
    background-color: #ecececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
}
.landing .container{
    min-height: calc(100vh - 92px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .container .image img{
    width: 500px;
    animation:up-and-down 5s  infinite linear;
    -webkit-animation:up-and-down 5s  infinite li;
    position: relative;
}

@media (max-width: 991px){
    .landing .container .image img{
        display: none;
    }
}
.landing .container .text{
    flex: 1;
    margin-bottom: 100px;
}
@media (max-width: 991px){
    .landing .container .text{
        text-align: center;
    }
}
.landing .container .text h1{
    font-size: 34px;
    margin-bottom: 0px;
    letter-spacing: -2px;
}
@media (max-width: 991px){
    .landing .container .text h1{
        font-size:45px;
        margin-bottom: 10px;
    }
}
@media (max-width: 767px) {
        .landing .container .text h1{
            font-size:30px
        }
}
.landing .container .text p{
    line-height: 1.5;
    width: 350px;
    font-size: 18px;
}
@media (max-width: 991px){
    .landing .container .text p{
        margin: auto;
    }
}
.landing .go-down{
    font-size: 35px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    color: var(--main-color);
}
.landing .go-down i{
    animation:bouncing 1.5s infinite;
    -webkit-animation:bouncing 1.5s infinite;
}
/* end landing */
/* start mega-menu */
header .mega-menu{
    position: absolute;
    width: 100%;
    display: flex;
    left: 0;
    top: calc(100% + 50px);
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    transition: top var(--main-transition), opacity var(--main-transition);
    -webkit-transition: top var(--main-transition), opacity var(--main-transition);
    -moz-transition: top var(--main-transition), opacity var(--main-transition);
    -ms-transition: top var(--main-transition), opacity var(--main-transition);
    -o-transition: top var(--main-transition), opacity var(--main-transition);
    gap: 40px;
    opacity: 0;
}
@media (max-width: 767px) {
    header .mega-menu{
        flex-direction: column;
    }
}
@media (max-width:991px) {
    header .mega-menu{
        gap: 0;
        justify-content:space-around
    }
}
header .mega-menu .image img{
    max-width:100%
}
@media (max-width:991px) {
    header .mega-menu .image{
        display: none;
    }
}
header .mega-menu  .links{
    min-width:250px;
    margin-top: 15px;
}
@media (max-width: 767px) {
    header .mega-menu .links{
        padding: 0;
        margin: 0;
    }
}
@media (max-width:991px) {
    header .mega-menu  .links{
        flex: 1
    }
}
header .mega-menu  .links li{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
@media (max-width: 767px) {
    header .mega-menu ul:first-of-type li:last-child{
        border-bottom: 1px solid #e9e6e6;
    }
}
header .mega-menu  .links li:not(:last-child){
    border-bottom: 1px solid #e9e6e6;
}
header .mega-menu  .links li:hover{
    background-color:#fafafa
}
header .mega-menu .links li a{
    color: var(--main-color-alt);
}
/* end mega-menu */
/* start articles */
.articles{
padding-top: var(--main-padding);
padding-bottom: var(--main-padding);
position: relative;
}
.articles .container{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 40px;
}
.articles .container .box{
    background-color:white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
    position: relative;
}
.articles .container .box:hover{
   transform:translateY(-10px);
   -webkit-transform:translateY(-10px);
   -moz-transform:translateY(-10px);
   -ms-transform:translateY(-10px);
   -o-transform:translateY(-10px);
   box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .box img{
    width:100%
}
.articles .container .box .content{
    padding: 10px 15px;
    border-bottom: 1px solid #e6e6e7;
}
.articles .container .box .content h2{
    margin: 0;
    font-size: 20px;    
}
.articles .container .box .content p{
    color: #777;
    line-height: 1.5;
    margin-bottom:0;
}
.articles .container .box .info{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);   
}
.articles .container .box .info a{
    color: var(--main-color);
    font-weight: bold;
}
.articles .container .box .info i {
    margin-right: 10px;
    font-size: 20px;
}
.articles .container .box:hover .info i {
    animation:right-arrow 0.5s linear infinite;
    -webkit-animation:right-arrow 0.7s linear infinite;
}
/* end articles */
/* start gallery */
.gallery{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color:var(--main-background-color);
}
.gallery .container{
display:grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 60px;
}
.gallery .container .box{
   box-shadow:0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%) ; 
   padding: 15px;
    background-color: white;
}
.gallery .container .box .image{
    overflow: hidden;
    position: relative;
}
.gallery .container .box .image::before{
    content: "";
    top: 50%;
    left: 50%;
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background: rgb(255 255 255 / 20%);
    opacity: 0;
    z-index: 3;
}
.gallery .container .box .image:hover::before{
    animation: flash 0.7s;
    -webkit-animation: flash 0.7s;
}
.gallery .container .box img{
    max-width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.gallery .container .box:hover img{
    transform: rotate(3deg) scale(1.1);
    -webkit-transform: rotate(3deg) scale(1.1);
    -moz-transform: rotate(3deg) scale(1.1);
    -ms-transform: rotate(3deg) scale(1.1);
    -o-transform: rotate(3deg) scale(1.1);
}
/* end gallery */
/* start features */
.features{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.features .container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
/* box-quality */
.features .container .box-quality .img-holder::before{
    background-color: rgb(244 64 54 / 60%);
}
.features .container .box-quality h2:after{
    background-color: #f44036;
}
.features .container .box-quality a{
    color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .container .box-quality:hover a {
    background-position: left bottom;
color: white;
}
/* box-quality */
/* box-time */
.features .container .box-time .img-holder::before{
    background-color: rgb(0 150 136 / 60%);
}
.features .container .box-time h2:after{
    background-color: #009688;
}
.features .container .box-time a{
    color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .container .box-time:hover a {
background-position: left bottom;
color: white;
}
/* box-time */
/* box-passion */
.features .container .box-passion .img-holder::before{
    background-color: rgb(3 169 244 / 60%);
}
.features .container .box-passion h2:after{
    background-color: #03a9f4;
}
.features .container .box-passion a{
    color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .container .box-passion:hover a {
    background-position: left bottom;
    color: white;
}
/* box-passion */
.features .container .box{
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
}
.features .container .box .img-holder{
    position: relative;
}
.features .container .box .img-holder::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.features .container .box .img-holder::after{
    content: "";
    transition: var(--main-transition);
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 120px 420px;
    position: absolute;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.features .container .box:hover .img-holder::after{
    border-color: transparent transparent white transparent;
    border-width: 0px 361px 110px 0px;
}
.features .container .box img{
    max-width: 100%;
}
.features .container .box h2{
    font-size: 30px;
    margin-bottom: 30px;
    position: relative;
}
.features .container .box h2::after{
    content: "";
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 20%;
    height: 3px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.features .container .box p{
    width: 260px;
    text-align: center;
    margin: auto;
    line-height: 1.5;
    color: #777;
    margin-bottom: 30px;
}
.features .container .box a{
    margin-bottom: 30px;
    display: block;
    margin-top: 60px;
    border: 3px solid;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 25px;
    border-radius: 10%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    transition:var(--main-transition);
    -webkit-transition:var(--main-transition);
    -moz-transition:var(--main-transition);
    -ms-transition:var(--main-transition);
    -o-transition:var(--main-transition);
}

/* end features */
/* start testimonials */
.testimonials{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color:var(--main-background-color);
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .container .box {
    background-color: white;
    position: relative;
    padding: 5px 15px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    transition:var(--main-transition);
    -webkit-transition:var(--main-transition);
    -moz-transition:var(--main-transition);
    -ms-transition:var(--main-transition);
    -o-transition:var(--main-transition);
}
.testimonials .container .box:hover{
   transform:translateY(-10px);
   -webkit-transform:translateY(-10px);
   -moz-transform:translateY(-10px);
   -ms-transform:translateY(-10px);
   -o-transform:translateY(-10px);
}
.testimonials .container .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: -14px;
    top: -40px;
    border: 11px solid #ececec;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonials .container .box h2{
    margin-bottom: 10px;
}
.testimonials .container .box p {
    color: #777;
    line-height: 1.5;
}
.testimonials .container .box p:first-of-type{
    margin-bottom: 10px;
}
.testimonials .container .box p:last-of-type{
    margin-top: 10px;
}
.testimonials .container .box .stars i:not(:last-of-type){
    color: #ffc107;
}
/* end testimonials */
/* start team-members */
.team-members{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.team-members .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.team-members .container .box::before{
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% - 60px);
    background-color: #f3f3f3;
    z-index: -1;
    right: 0;
    border-radius: 5px;
}
.team-members .container .box{
    position: relative;
    transition:var(--main-transition);
    -webkit-transition:var(--main-transition);
    -moz-transition:var(--main-transition);
    -ms-transition:var(--main-transition);
    -o-transition:var(--main-transition);
}
.team-members .container .box:hover img{
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
}
.team-members .container .box:hover::after{
    width: calc(100% - 60px);
    background-color: #e4e4e4;

}
.team-members .container .box::after{
    content: "";
    right: 0;
    top: 0;
    height: 100%;
    position: absolute;
    width: 0%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    z-index: -1;
}
.team-members .container .box .data{
display:flex;
align-items: center;
padding-top: 50px;
}
.team-members .container .box .data img{
    width: calc(100% - 60px);
    border-radius: 5px;
    transition:var(--main-transition) ;
    -webkit-transition:var(--main-transition) ;
    -moz-transition:var(--main-transition) ;
    -ms-transition:var(--main-transition) ;
    -o-transition:var(--main-transition) ;
}
.team-members .container .box .socile {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}
.team-members .container .box .socile a{
display: flex;
justify-content: center;
align-items: center;
width:60px
}
.team-members .container .box .socile i{
 font-size: 23px;
 color: #777;
}
.team-members .container .box .socile a:hover i{
    color: var(--main-color);
}
.team-members .container .box .info{
padding-left: 80px;
}
.team-members .container .box .info h3{
color: var(--main-color);
}

.team-members .container .box:hover .info p{ 
    color: #777;
     transition:var(--main-transition);
      -webkit-transition:var(--main-transition);
     -moz-transition:var(--main-transition);
      -ms-transition:var(--main-transition);
       -o-transition:var(--main-transition);
}
/* end team-members */
/* start services */
.services{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color:var(--main-background-color);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .container .box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color:var(--main-color);
    transition: var(--main-transition);
}
.services .container .box{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    position: relative;
}
.services .container .box:hover::before{
    width: 100%;
}
.services .container .box:hover{
    transform:translateY(-10px);
   -webkit-transform:translateY(-10px);
   -moz-transform:translateY(-10px);
   -ms-transform:translateY(-10px);
   -o-transform:translateY(-10px);
}
.services .container .box .content{
   text-align: center;
   padding-top: 50px;
}
.services .container .box i{
display: block;
font-size:80px;
margin-bottom: 10px;
color: #d5d5d5;
}
.services .container .box .span{
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color-alt);
}
.services .container .box .info{
    display:flex;
    align-items: center;
    justify-content:space-between;
    background-color: #f9f9f9;
    margin-top: 30px;
}
.services .container .box .info span {
    font-size: 28px;
    background-color: var(--main-color);
    color: white;
    position: relative;
    padding: 10px 20PX;
    font-weight: bold;
    width: 90px;
}
.services .container .box .info span::after{
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    width: 41px;
    height: 100%;
    background-color: #d5d5d5;
    transform: skewX(329deg);
}
.services .container .box .info a{
    padding: 0px 15px;
    color: var(--main-color);
}
/* end services */
/* start our skills */
.our-skills{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.our-skills .container{
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .our-skills .container img{
    display: none;
    }

}
.our-skills .container .skills{
    flex: 1;
}
.our-skills .container .skills .skill h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.our-skills .container .skills .skill h3 span{
    color: var(--main-color);
    font-size: 15px;
    border: 1px solid;
    padding: 3px;
    border-radius: 5px;
}
.our-skills .container .skills .skill .the-progres{
    background-color: #eeeeee;
    height: 30px;
    z-index: -1;
}
.our-skills .container .skills .skill .the-progres span{
    background-color: var(--main-color);
    height: 30px;
    display: block;}
/* end our skills  */
/* start work section */
.work{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color:var(--main-background-color);
}
.work .container{
    display: flex;
    align-items: center;
    gap: 100px;
}
.work .container .info .box::before{
    content: "";
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: #ededed;
    transition:0.3s;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    z-index:-1;
    width: 0;
    height: 0;
}
.work .container .info .box:hover::before{
    width: 100%;
    height: 100%;
}
.work .container .info .box{
    display: flex;
    background-color: #f6f5f5;
    padding: 10px 20px;
    margin-bottom: 20px;
    align-items: center;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    position: relative;
    z-index: 2;
    transition: var(--main-transition);
    border: 1px solid white;
}
@media (max-width:991px) {
    .work .container > img{
        display: none;
    }
}
.work .container .info .box img{
    width: 60px;
    margin-right: 30px;
}
.work .container .info .box .text h2{
    margin-bottom: 0;
    font-size: 22px;
}
.work .container .info .box .text p{
    line-height: 1.5;
    color: #777;
    font-size:20px;
}
/* end work section */
/* start Events */
.events{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.events .container{
    display: flex;
}
.events .container img{
   max-width: 450px;
}
@media (max-width:991px){
    .events .container img{
        display: none;
    }
}
.events .container .content{
    text-align: center;
}
.events .container .content .time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.events .container .content .time .box{
    margin-left: 10px ;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    width: 75px;
    transition:var(--main-transition);
    -webkit-transition:var(--main-transition);
    -moz-transition:var(--main-transition);
    -ms-transition:var(--main-transition);
    -o-transition:var(--main-transition);
}
.events .container .content .time .box:hover,
.events .container .content .time .box:hover span{
    border-color: var(--main-color);
}
.events .container .content .time .box h2{
color: var(--main-color);
font-size: 40px
}
.events .container .content .time .box span{ font-size:14px;
    position: relative; 
    border-top: 1px solid #d4d4d4; 
    display: block; padding: 10px 8px; 
    transition: var(--main-transition); 
    -webkit-transition: var(--main-transition); 
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.events .container .content .text h3{
    margin-top: 0;
    font-size: 30px;
}
.events .container .content .text p{
line-height: 1.5;
color: #777;
font-size: 20px;
}
.events .sub{
    width: 100%;
}
.events form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    background-color: #f6f5f5;
    width: 600px;
    border-radius: 50px;
    gap: 50px;
}
@media (max-width: 767px){
    .events form{
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        width: 90%;
}
}
.events form input[type="email"]{
    height: 50px;
    border-radius: 50px;
    border: none;
    flex: 1;
    padding: 10px 40px;
    caret-color: var(--main-color);
}
@media (max-width: 767px) {
    .events form input[type="email"]{
        width: 100%;
    }
}
.events form input[type="email"]:focus{
    outline: none;
}
.events form input[type="email"]::placeholder{
    transition: opacity var(--main-transition);
    -webkit-transition: opacity var(--main-transition);
    -moz-transition: opacity var(--main-transition);
    -ms-transition: opacity var(--main-transition);
    -o-transition: opacity var(--main-transition);
}
.events form input[type="email"]:focus::placeholder{
    opacity: 0
}
.events form input[type="submit"]{
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    height: 50px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.events form input[type="submit"]:hover{
    background-color: var(--main-color-alt);
}
/* end events */
/* start pricing */
.pricing{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color:var(--main-background-color);
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.pricing .container .box {
    background-color: white;
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    z-index: 1;
}
.pricing .container .box::after,
.pricing .container .box::before{
    content: "";
    position: absolute;
    width: 0;
    height:50%;
    background-color: #f6f6f6f5;
    z-index: -1;
    transition: var(--main-transition);
}
.pricing .container .box::after{
    left: 0;
    top: 0;
}
.pricing .container .box::before{
    right: 0;
    bottom:0;
}
.pricing .container .box:hover::after,
.pricing .container .box:hover::before{
    width: 100%;
}
.pricing .container .popular{
    transform: translateY(-40px);
}
@media (max-width: 991px){
    .pricing .container .popular{
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -o-transform:translateY(0);
        -webkit-transform:translateY(0);
}
}
.pricing .container .popular .label {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    position: absolute;
    right: 20px;
    background-color: var(--main-color);
    padding: 10px 10px 25px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.pricing .container .popular .label:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 22px;
}
.pricing .container .box h4 {
    text-align: center;
    font-size:30px;
    z-index: 1;
}
.pricing .container .box img {
    width: 90px;
    text-align: center;
    display: block;
    margin: 0 auto;
    z-index:1;
}
.pricing .container .box h2{
    text-align: center;
    font-size: 45px;
    color: var(--main-color);
    margin-bottom: 0;
}
.pricing .container .box p{
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    color: #777;

}
.pricing .container .box ul{
padding: 0;
}
.pricing .container .box ul li{
    padding: 20px;
    border-top: 1px solid #d6d5d5;
    position: relative;
    transition:var(--main-transition);
}
.pricing .container .box ul li:hover{
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}
.pricing .container .box ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}
.pricing .container .box a{
margin: 0 auto 30px;
    display: block;
    text-align: center;
    color: var(--main-color);
    border: 2px solid;
    width: fit-content;
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
}
/* end pricing */
/* start video */
.video{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.video .container .holder{
    display:flex;
    background-color: var(--main-background-color);
    border: 1px solid #ddd;
}
@media (max-width: 768px) {
    .video .container .holder{
        flex-direction: column;
    }
}
.video .container .list{
border: 1px solid #f2f2f2;
min-width:300px;
}
.video .container .list .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px 18px 0;
    border-bottom: 1px solid #f2f2f2;
    font-weight: bold;
}
.video .container .list ul{
    padding: 0;
    margin: 0;
    background-color: white;
}
.video .container .list ul li{
    padding: 20px;
    border-top: 1px solid #f2f2f2;
    display: block;
    font-size: 16px;
    transition: var(--main-transition) ;
    cursor: pointer;
}
.video .container .list ul > li:hover {
    color: var(--main-color);
    background-color:#fafafa
}
.video .container .list span{
    display: block;
    margin-top: 5px;
    color: #777;
}
.video .container .image{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e2e2e2
}
.video .container .image img{
max-width:100%
}
.video .container .image .info{
    padding: 20px;
    background-color: white;
}
/* end video */
/* start stats */
.stats{
    background-image: url(../image/stats.jpg);
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-size: cover;
    min-height: 300px;
}
.stats::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(255 255 255 / 95%);
    top: 0;
    left: 0;
}
.stats .container h2{
color: black;
font-weight: bold;
position: relative;
margin-right: auto;
margin-left: auto;
display: block;
width: fit-content;
font-size: 40px;
margin-bottom: 45px;
}
.stats .container .stats-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20PX;
}
.stats .container .stats-container .box::before,
.stats .container .stats-container .box::after{
    content: "";
    position: absolute;
    height:0;
    width: 3px;
    background-color:var(--main-color);
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    -ms-transition:1s;
    -o-transition:1s;
}
.stats .container .stats-container .box::before{
    bottom: 0;
    right: 0;
}
.stats .container .stats-container .box::after{
top: 0;
left: 0;
}
.stats .container .stats-container .box:hover::after,
.stats .container .stats-container .box:hover::before{
    height:100%;
}
.stats .container .stats-container .box {
    background-color:white;
    text-align: center;
    padding: 10px;
    position: relative;
    opacity: 0.8;
    transition: var(--main-transition);
}
.stats .container .stats-container .box:hover{
    opacity: 1;
}
.stats .container .stats-container .box i{
    font-size: 30px;

}
.stats .container .stats-container .box h3{
    font-size: 55px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.stats .container .stats-container .box p{
    font-weight: bold;
    color: var(--main-color);
    font-style: italic;
}
/* end stats */
/* start discount */
.discount{
    position: relative;
    display: flex;
    min-height: 100vh;
}
@media (max-width:991px){
    .discount{
        flex-direction: column; 
    }
}
.discount .info-discount{
    text-align: center;
    background-image: url(../image/discount/download.jpg);
    position: relative;
    background-size: cover;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 30px;
    padding-left: 30px;
    animation:change-background 10s linear infinite;
    -webkit-animation:change-background 10s linear infinite;
}
.discount .info-discount::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
}
.discount .info-discount h2{
    z-index: 3;
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
    letter-spacing: -2px;
}
.discount .info-discount p{
    z-index: 3;
    line-height: 1.5;
    color: white;
    font-size: 20px;
}
.discount .info-discount img{
width: 300px;
z-index: 3;
}
.discount .req{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.discount .req h2{
    font-size: 40px;
    margin-bottom: 40px;
}
.discount .req form .input{
    display: block;
width: 100%;
margin-bottom: 20px;
padding: 15px 10px;
border: none;
border-bottom: 1px solid #cccccc;
background-color: #f9f9f9;
caret-color: var(--main-color);
}
.discount .req form .input:focus{
    outline: none;
}
.discount .req form .input::placeholder{
    transition: opacity var(--main-transition);
    -webkit-transition: opacity var(--main-transition);
    -moz-transition: opacity var(--main-transition);
    -ms-transition: opacity var(--main-transition);
    -o-transition: opacity var(--main-transition);
}
.discount .req form .input:focus::placeholder{
    opacity: 0
}
.discount .req form textarea {
resize: none;
}
.discount .req form input[type="submit"]{
    width: 100%;
    margin-top: 15px;
    padding: 15px 10px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.discount .req form input[type="submit"]:hover{
    background-color: var(--main-color-alt);
}
/* end discount */
/* start footer */
@media (max-width: 768px){
    .footer{
        text-align: center;
    }
    .footer .container .links ul{
    padding: 0;
    }
    .footer .container .address .line{
        flex-direction:column;
    }
    .footer .container .socile-container .socile{
        justify-content: space-around;
    }
}
.footer {
    background-color: #191919;
    padding:50px 0 0
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap:40px;
    align-items: center;
}
.footer .container .socile-container h2{
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
}
.footer .container .socile-container .socile{
display: flex;
}
.footer .container .socile-container .socile a{
    font-size: 30px;
    padding: 10px;
    background-color: #313131;
    width: 50px;
    color: #b9b9b9;
    margin-right: 20px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition) ;
}
.footer .container .socile-container .socile a:hover:first-child{
    background-color:#1877f2
}
.footer .container .socile-container .socile a:hover:nth-of-type(2){
    background-color:#e1306c
}
.footer .container .socile-container .socile a:hover:nth-of-type(3){
    background-color:#1da1f2
}
.footer .container .socile-container p{
    color: #b9b9b9;
    line-height: 1.7;
}
.footer .container .links{
    color: #b9b9b9;
}
.footer .container .links ul li{
    padding-top: 15px;
    position: relative;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    transition: var(--main-transition) ;
}
.footer .container .links ul li:hover{
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}
.footer .container .links ul li:hover a{
    color: white;
}
.footer .container .links ul li::before{
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: var(--main-color);
    margin-right: 10px;
}
.footer .container .links ul li a{
    color: #b9b9b9;
    transition: var(--main-transition);
}
.footer .container .address .line{
    display: flex;
    align-items: center;
}
.footer .container .address .line i{
    color: var(--main-color);
}
.footer .container .address .line p{
    margin-left: 10px;
    font-size: 17px;
    color: #b9b9b9;
}
.footer .container .images img {
    width: 75px;
    border: 3px solid white;
    padding: 1px;
    margin: 3px;
}
/* end footer */
    /* start animation */
    @keyframes up-and-down {
        0%{
            top: 0;
        }
        50%{
            top: -50px;
        }
        100%{
            top: 0;
        }
    }
    @keyframes bouncing {
        0%,
        10%
        ,20%
        ,50%
        ,80%
        ,100%{
            transform:translateY(0);
            -webkit-transform:translateY(0);
            -moz-transform:translateY(0);
            -ms-transform:translateY(0);
            -o-transform:translateY(0);
    }
    40%,60%{
        transform:translateY(-15px);
        -webkit-transform:translateY(-15px);
        -moz-transform:translateY(-15px);
        -ms-transform:translateY(-15px);
        -o-transform:translateY(-15px);
    }
    }
    @keyframes left-animation{
    50%{
        left: 0;
        width: 15px;
        height: 15px;
    }
    100%{
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
    }
    @keyframes right-animation{
        50%{
            right: 0;
            width: 15px;
            height: 15px;
        }
        100%{
            right: 0;
            width: 50%;
            height: 100%;
            border-radius: 0;
        }
        }
        @keyframes right-arrow{
            100%{
                transform: translateX(10px);
                -webkit-transform: translateX(10px);
                -moz-transform: translateX(10px);
                -ms-transform: translateX(10px);
                -o-transform: translateX(10px);
    }
        }
        @keyframes flash{
           0%, 40%{
                opacity: 1;
    
            }
            100%{
                opacity: 0;
                width: 200%;
                height: 200%;
            }
        }
        @keyframes change-background{
            0%, 100%{
                background-image: url(../image/discount/download-1.jpg);
            }
            50%{
                background-image: url(../image/discount/download.jpg)
            }
        }
    /* end animation  */