/* start global rules */
*{
    box-sizing: border-box;
}
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
html{
    scroll-behavior: smooth;
    
}
a{
    text-decoration: none;
}
body{
    font-family: 'Cairo', sans-serif;
}
ul{
    list-style: none;
    margin: none;
    padding: none;
}
/* small*/
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/* large */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}

/* end global rules */
/* start header */
header{
    background-color:white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

header .container .part-1{
    font-size: 28px;
    color: var(--main-color);
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 60px;
    position: relative;
}
@media (max-width:767px) {
    header .container .part-1{
    width: 100%;
    padding: 0;
    height: 50px;
    margin-bottom: -10px;
    }
}
@media (max-width:767px) {
    header .container .part-2{
        margin: auto;
    }
}
header .container .part-2{
    display: flex;
    padding: 0;
}
header .container .part-2 > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    transition:var(--main-transition);
    -webkit-transition:var(--main-transition);
    -moz-transition:var(--main-transition);
    -ms-transition:var(--main-transition);
    -o-transition:var(--main-transition);
    position: relative;
    padding: 0 20px;
    overflow: hidden;
    height: 60px;
}
@media (max-width:767px) {
    header .container .part-2 li a{
        padding: 10px;
    }
}
header .container .part-2 > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
header .container .part-2 > li > a::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 3px;
    bottom: 0;
    left: -100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
header .container .part-2 > li > a:hover::before{
    left: 0;
}
/* end header */
/* start landing */
.landing{
position: relative;

}
.landing::before{
    content: "";
    position: absolute;
    left: 0px;
    top: -19px;
    width: 100%;
    height: 100%;
    background-color: #ecececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
}
.landing .container{
    min-height: calc(100vh - 92px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .container .image img{
    width: 500px;
    animation:up-and-down 5s  infinite linear;
    -webkit-animation:up-and-down 5s  infinite li;
    position: relative;
}

@media (max-width: 991px){
    .landing .container .image img{
        display: none;
    }
}
.landing .container .text{
    flex: 1;
    margin-bottom: 100px;
}
@media (max-width: 991px){
    .landing .container .text{
        text-align: center;
    }
}
.landing .container .text h1{
    font-size: 34px;
    margin-bottom: 0px;
    letter-spacing: -2px;
}
@media (max-width: 991px){
    .landing .container .text h1{
        font-size:45px;
        margin-bottom: 10px;
    }
}
@media (max-width: 767px) {
        .landing .container .text h1{
            font-size:30px
        }
}
.landing .container .text p{
    line-height: 1.5;
    width: 350px;
    font-size: 18px;
}
@media (max-width: 991px){
    .landing .container .text p{
        margin: auto;
    }
}
.landing .go-down{
    font-size: 35px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    color: var(--main-color);
}
.landing .go-down i{
    animation:bouncing 1.5s infinite;
    -webkit-animation:bouncing 1.5s infinite;
}
/* end landing */
/* start animation */
@keyframes up-and-down {
    0%{
        top: 0;
    }
    50%{
        top: -50px;
    }
    100%{
        top: 0;
    }
}
@keyframes bouncing {
    0%,
    10%
    ,20%
    ,50%
    ,80%
    ,100%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -o-transform:translateY(0);
}
40%,60%{
    transform:translateY(-15px);
    -webkit-transform:translateY(-15px);
    -moz-transform:translateY(-15px);
    -ms-transform:translateY(-15px);
    -o-transform:translateY(-15px);
}
}
/* end animation  */
/* start mega-menu */
header .mega-menu{
    position: absolute;
    width: 100%;
    display: flex;
    left: 0;
    top: calc(100% + 50px);
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: 50;
    transition: top var(--main-transition), opacity var(--main-transition);
    -webkit-transition: top var(--main-transition), opacity var(--main-transition);
    -moz-transition: top var(--main-transition), opacity var(--main-transition);
    -ms-transition: top var(--main-transition), opacity var(--main-transition);
    -o-transition: top var(--main-transition), opacity var(--main-transition);
    gap: 40px;
}
header .mega-menu .image img{
    width:520px
}
header .mega-menu  .links li{
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid #e9e6e6;
    font-weight: bold;
    margin-bottom: 10px;
}
header .mega-menu  .links li:hover{
    background-color:#fafafa
}
header .mega-menu .links li a{
    color: var(--main-color-alt);
}
/* end mega-menu */